@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center">eLiveShow</h1>
<div style="height: 25em; overflow: hidden">
    <img src="https://rare-gallery.com/uploads/posts/5420140-gig-live-music-crowd-performance-performer-people-trombone-arms-up-music-mucisian-musical-dark-party-club-cheering-dj-show-event-group-band-png-images.jpg" style="width: 100%">
</div>
<h3 style="margin-top: 3%">
    Aplikacija za koncerte uživo
</h3>
<div style="margin-top: 2%; color: darkgray; font-size: 1.5em">
    <b>
        Ovaj softver je namijenjen da pruži svim ljubiteljima koncerata jednostavan način da brzo i lahko dođu do svih relevantnih informacija potrebnih za rezervaciju mjesta ili karte na aktuelnim dodađajima u njihovom gradu ili okruženju.
        <br>
        Namijenjen je za fizička, kao i pravna lica. Na ovaj način je organizatorima olakšan posao i pružen intuitivan način da reklamiraju svoje dvorane, dok je muzičkim umjetnicima omogućeno da lahko pregledaju sve moguće lokacije svoga nastupa.
        <br>
        Kupoprodaja karata daje prosječnom korisniku opciju da brzo i efikasno nađe rezervaciju.
    </b>
</div>
