@model Implementacija.Models.Poruka

@{
    ViewData["Title"] = "Create";
}

<h1>Nova poruka</h1>

<h4>Unesite sadržaj i primaoca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sadrzaj" class="control-label">Sadržaj</label>
                <input asp-for="sadrzaj" class="form-control" />
                <span asp-validation-for="sadrzaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="primalacId" class="control-label">Primalac</label>
                <select asp-for="primalacId" class ="form-control" asp-items="ViewBag.primalacId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Pošalji" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na poruke</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
